coverage
.DS_Store
.vagrant

# Project-specific
.librarian/*
dist/*
*.tgz
*.tar.gz
puppet/third_party/*
.tmp/*
spec/fixtures/modules/*
puppet/modules/*/.librarian/*
puppet/modules/*/.tmp/*
puppet/modules/*/Puppetfile.lock
puppet/modules/*/spec/fixtures/manifests/site.pp
puppet/modules/*/spec/fixtures/modules
